body {
    font-family: 'Titillium Web', sans-serif !important;

    -webkit-overflow-scrolling: touch;

    background-image: url('https://i056.radikal.ru/1510/30/b081a257546f.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inside-glass {
    background-image: url('https://i056.radikal.ru/1510/30/b081a257546f.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glass {
    max-width: inherit;
    width: 100%;
    height: 100%;
	position: fixed;
	z-index: 0;
	background: inherit;
    overflow: hidden;
    margin-left: -15px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    filter: drop-shadow(2px 4px 6px black);
}

.glass:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    filter: blur(6px);
}

.glasscolor {
    width: inherit;
    height: inherit;
    background: repeating-linear-gradient(150deg, #ffffff, #888);;
    opacity: 0.3;
}

a:hover a:focus {
    text-decoration: none;
    outline: 0;
    list-style: none;
}

.navbar {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
    list-style: none;
    flex-direction: row;
}

.content-block p {
    color: black;
}

.inside-glass {
    background-color: rgba(255, 255, 255, 0.5);
}

.card:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.card img {
    filter: grayscale();
}

.card:hover > * {
    filter: none;
}

.navbar .nav a {
    letter-spacing: 2px;
}

.login-button {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 16px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

.login-button:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
    box-shadow: none;
}

p.text {
    font-size: 18px;
}

.main-header {
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.source {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
}

.source:hover {
    color: #333333;
    border-bottom: 3px #333333;
    padding-bottom: 3px;
}